<tr>
    <td><%= contact.id %></td>
    <td><%= contact.name %></td>
    <td><%= contact.email %></td>
    <td><%= contact.phone %></td>
    <td>
        <a href="/<%= contact.id %>/edit">Edit</a>
        <a href="/<%= contact.id %>/delete">Delete</a>
    </td>
</tr>